* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
body {
  font-family: sans-serif;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(154,167,231,1) 50%, rgba(148,187,233,1) 100%);
}
nav {
  background: #222;
  padding: 5px 20px;
}
ul {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.logo a:hover {
  text-decoration: none;
}
.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}
.logo a,
.toggle a {
  font-size: 20px;
}
.button.secondary {
  border-bottom: 1px #444 solid;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}
.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}

/* Navbar Toggle */
.toggle {
  cursor:pointer;
}
.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.bars:before,
.bars:after {
  background: #999;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.bars:before {
  top: 5px;
}
.bars:after {
  top: -5px;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
      justify-content: center;
  }

  .logo {
      flex: 1;
  }

  .item.button {
      width: auto;
      order: 1;
      display: block;
  }
  .toggle {
      order: 2;
  }
  .button.secondary {
      border: 0;
  }
  .button a {
      padding: 7.5px 15px;
      background: teal;
      border: 1px #006d6d solid;
      border-radius:50em;
  }
  .button.secondary a {
      background: transparent;
  }
  .button a:hover {
      text-decoration: none;
      transition:all .25s;
  }
  .button:not(.secondary) a:hover {
      background: #006d6d;
      border-color: #005959;
  }
  .button.secondary a:hover {
      color: #ddd;
  }
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
      display: block;
      width: auto;
  }
  .toggle {
      display: none;
  }
  .logo {
      order: 0;
  }
  .item {
      order: 1;
  }
  .button {
      order: 2;
  }
  .menu li {
      padding: 15px 10px;
  }
  .menu li.button {
      padding-right: 0;
  }
}

/* Popup shtuff */

h3 {
    text-align: center;
}


.container {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px; 30px;
    border-radius: 5px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input: valid {
    border-color: #9b59b6
}

.item-container {
    position: relative;
    top: 40px;
    left: 50px;
    width: 400px;
    height: 600px;
    color: white;
    padding: 20px;
    border-color: gray;
    border-style: groove;
    float: left;
}

.item-container .img {
    position: relative;
    right: 23px;
    bottom: 23px;
}

.item-container .info-box {
    position: relative;
    width: 400px;
    height: 200px;
    right: 23px;
    bottom: 27px;
}

.item-container .info-box .name {
    position: relative;
    width: 400px;
    height: 160px;
    right: 120px;
    top: 45px;
    color: black;
}

.item-container .info-box .price {
    color: red;
    position: relative;
    top: 15px;
}

.item-container .info-box .firmness {
    color: black;
    position: relative;
    bottom: 70px;
    left: 10px;
}

.item-container .info-box .rating {
    color: black;
    position: relative;
    bottom: 50px;
    left: 10px;
}

.item-container .info-box .add-to-cart {
    position: relative;
    border: transparent;
    bottom: 80px;
    left: 330px;
}

.item-container-2 {
    position: relative;
    top: 40px;
    right: 50px;
    width: 400px;
    height: 600px;
    color: white;
    padding: 20px;
    border-color: gray;
    border-style: groove;
    float: right;
}

.item-container-2 .img {
    position: relative;
    right: 23px;
    bottom: 23px;
}

.item-container-2 .info-box {
    position: relative;
    width: 400px;
    height: 200px;
    right: 23px;
    bottom: 27px;
}

.item-container-2 .info-box .name {
    position: relative;
    width: 400px;
    height: 160px;
    right: 120px;
    top: 45px;
    color: black;
}

.item-container-2 .info-box .price {
    color: red;
    position: relative;
    top: 15px;
}

.item-container-2 .info-box .firmness {
    color: black;
    position: relative;
    bottom: 70px;
    left: 10px;
}

.item-container-2 .info-box .rating {
    color: black;
    position: relative;
    bottom: 50px;
    left: 10px;
}

.item-container-2 .info-box .add-to-cart {
    position: relative;
    border: transparent;
    bottom: 80px;
    left: 330px;
}

.item-container-3 {
    position: relative;
    top: 40px;
    left: 50px;
    width: 400px;
    height: 600px;
    color: white;
    padding: 20px;
    border-color: gray;
    border-style: groove;
    margin: auto;
}

.item-container-3 .img {
    position: relative;
    right: 23px;
    bottom: 23px;
}

.item-container-3 .info-box {
    position: relative;
    width: 400px;
    height: 200px;
    right: 23px;
    bottom: 27px;
}

.item-container-3 .info-box .name {
    position: relative;
    width: 400px;
    height: 160px;
    right: 120px;
    top: 45px;
    color: black;
}

.item-container-3 .info-box .price {
    color: red;
    position: relative;
    top: 15px;
}

.item-container-3 .info-box .firmness {
    color: black;
    position: relative;
    bottom: 70px;
    left: 10px;
}

.item-container-3 .info-box .rating {
    color: black;
    position: relative;
    bottom: 50px;
    left: 10px;
}

.item-container-3 .info-box .add-to-cart {
    position: relative;
    border: transparent;
    bottom: 80px;
    left: 330px;
}

.item-container-4 {
    position: relative;
    top: 100px;
    left: 50px;
    width: 50%;
    height: 600px;
    color: white;
    padding: 20px;
    border-color: gray;
    border-style: groove;
    margin: auto;
}

.item-container-4 .img {
    position: relative;
    right: 23px;
    bottom: 23px;
}

.item-container-4 .info-box {
    position: absolute;
    width: 400px;
    height: 200px;
    right: 23px;
    bottom: 27px;
}

.item-container-4 .info-box .name {
    position: relative;
    width: 400px;
    height: 160px;
    bottom: 350px;
    right: 120px;
    color: black;
}

.item-container-4 .info-box .price {
    color: red;
    position: relative;
    bottom: 275px;
    right: 115px;
}

.item-container-4 .info-box .firmness {
    color: black;
    position: relative;
    bottom: 400px;
    right: 275px;
}

.item-container-4 .info-box .rating {
    color: black;
    position: relative;
    bottom: 360px;
    right: 340px;
}

.item-container-4 .info-box .add-to-cart {
    position: relative;
    border: transparent;
    bottom: 80px;
    left: 330px;
}

.best-selling h1 {
    position: relative;
    left: 1250px;
    top: 70px;
    color: gold;
}







.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
    display: none;
}

.container,
.form__input,
.form__button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover {
    background: var(--color-primary-dark);
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}